<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo5</title>
</head>
<body>
    <h2>Demo5</h2>
    <form action="/" method="post">
        <input type="text" name="fname" placeholder="Enter name">
        <br>
        <input type="email" name="email" placeholder="Enter email">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
